<form name="paymentForm" ng-submit="vm.submit(paymentForm)" method="post" autocomplete="off" novalidate>
  <div class="payment__row">
    <div class="payment__inp">
      <input class="payment__card-num" ng-model="vm.creditCard.number" type="text"
             name="cardNumber"
             pattern="[0-9]*"
             inputmode="numeric"
             ng-minlength="13"
             maxlength="19"
             ng-maxlength="19"
             ng-pattern="/^\d+$/"
             placeholder="0000 0000 0000 0000"
             autocomplete="off"
             required>
    </div>
    <div class="payment__validation" ng-show="paymentForm.cardNumber.$touched"  ng-messages="paymentForm.cardNumber.$error">
      <div class="form-row__validation" ng-message="required">
        Please enter your credit card number.
      </div>
      <div class="form-row__validation" ng-message="pattern">
        Please enter your valid credit card number.
      </div>
      <div class="form-row__validation" ng-message="minlength, maxlength">
        Card number between 13 and 19 characters long.
      </div>
    </div>
  </div>
  <div class="payment__row">
    <div class="payment__inp">
      <input class="payment__card-mm" type="text"
             name="cardExpirationMonth"
             pattern="[0-9]*"
             inputmode="numeric"
             ng-model="vm.creditCard.expirationMonth"
             ng-minlength="1"
             maxlength="2"
             ng-maxlength="2"
             ng-pattern="/^(0?[1-9]|1[012])$/"
             placeholder="MM"
             autocomplete="off"
             required>
      <span class="payment__card-slash">/</span>
      <input class="payment__card-yy" type="text"
             name="cardExpirationYear"
             pattern="[0-9]*"
             inputmode="numeric"
             ng-model="vm.creditCard.expirationYear"
             ng-minlength="2"
             maxlength="2"
             ng-maxlength="2"
             ng-pattern="/^(1[5-9]|[2-9][0-9])$/"
             placeholder="YY"
             autocomplete="off"
             required>
    </div>
    <div class="payment__inp">
      <input class="payment__card-cvv" ng-model="vm.creditCard.cvv" type="password"
             name="cardCVV"
             pattern="[0-9]*"
             inputmode="numeric"
             ng-minlength="3"
             maxlength="4"
             ng-maxlength="4"
             ng-pattern="/^\d+$/"
             placeholder="CVV"
             autocomplete="off"
             required>
    </div>
    <div class="payment__validation" ng-show="paymentForm.cardExpirationMonth.$touched"  ng-messages="paymentForm.cardExpirationMonth.$error">
      <div class="form-row__validation" ng-message="required">
        Please enter your credit card expiration month.
      </div>
      <div class="form-row__validation" ng-message="minlength, maxlength, pattern">
        Please enter your valid credit card expiration month.
      </div>
    </div>
    <div class="payment__validation" ng-show="paymentForm.cardExpirationYear.$touched"  ng-messages="paymentForm.cardExpirationYear.$error">
      <div class="form-row__validation" ng-message="required">
        Please enter your credit card expiration year.
      </div>
      <div class="form-row__validation" ng-message="minlength, maxlength, pattern">
        Please enter your valid credit card expiration year.
      </div>
    </div>
    <div class="payment__validation" ng-show="paymentForm.cardCVV.$touched"  ng-messages="paymentForm.cardCVV.$error">
      <div class="form-row__validation" ng-message="required">
        Please enter your credit card cvv.
      </div>
      <div class="form-row__validation" ng-message="minlength, maxlength, pattern">
        Please enter your valid credit card cvv.
      </div>
    </div>
  </div>
  <div class="payment__row">
    <div class="payment__inp">
      <input class="payment__card-holder ng-empty" ng-model="vm.creditCard.cardholderName" type="text" placeholder="JOHN DOE">
    </div>
  </div>
  <button type="submit">Submit</button>
</form>